# Normal private files
build/
dist/
build.properties
adaptor-config.properties
cacerts.jks
keys.jks
adaptor.crt
gsa.crt
*.class

# IntelliJ files
workspace/
classes/
.idea
Plexi.iml

# NetBeans files
nbproject/
