.gaf-chart {
  float: left;
  height: 250px;
  width: 400px;
}

.gaf-post-charts-div {
  clear: both;
}

#gaf-config-table {
  border: none;
  font-family: monospace;
}

#gaf-log {
  height: 20em;
  overflow: auto;
}

#gaf-start-feed-push-success {
  color: green;
}

#gaf-start-feed-push-error {
  color: red;
}
